@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/tamagotchi_added" method="post">
  <label for="new-tamagotchi">Give your Tamagotchi a name:</label>
  <input id="new-tamagotchi" name="new-tamagotchi" type="text">
  <button type="submit">Submit</button>
</form>
